img + em {
  font-size: 0.6em;
  display: block;
  text-align: center;
}
.inside_container {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gfv-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  margin-right: 20px;
  float: left;
}
.pic-left {
  float: none;
}
